@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  width: 100%;
}

body{
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .App {
  width: 60%;
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 30px;
  margin: auto;
}
h1{
  margin-top: 0;
}
input{
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}
button{
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}
.wrap{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.wrap span{
  display: inline-block;
  background-color: lightgray;
  padding: 8px;
  border-radius: 5px;
}
.copied{
  background-color: greenyellow;
}
.shortenURL{display: flex;align-items: center;justify-content: center;margin-top: 10px;} */
